<div class="embed-plugin">
  {% if thumbnail_url %}
  <a href="{{url}}" target="_blank"><img src="{{thumbnail_url}}" /></a>
  {% else %}
  <a href="{{url}}" target="_blank"><img src="{{ url("plugin://embed/assets/image/default.png") }}" /></a>
  {% endif %}
  <div class="link-info">
    <h3><a href="{{url}}" target="_blank">{{title}}</a></h3>
    <p>{{description|truncate(truncate_length, true)}}</p>
  </div>
</div>